/* Estilo do Header com classes */
.site-header {
    position: fixed;
    width: 100%;
    background-color: #333;
    padding: 10px 0;
    text-align: center;
}

.main-nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #007BFF;
}
